@import '~compass-mixins/lib/compass';


@function multiple-box-shadow($n) {
  $value: '#{random(3000)}px #{random(3000)}px #FFF';
  @for $i from 2 through $n {
    $value: '#{$value} , #{random(3000)}px #{random(3000)}px #FFF';
  }
  @return unquote($value);
}


$shadows-small: multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big: multiple-box-shadow(100);

.main-page {
  opacity: 1;
  height: 92vh;
  background: radial-gradient(ellipse at top center, #1c1c9f 0%, #000000 100%);
  overflow: hidden;
  position: relative;

  #stars,
  #stars2,
  #stars3 {
    position: absolute;
    width: 1px;
    height: 1px;
    background: transparent;
    animation: animStar 50s linear infinite;
  }

  #stars:after,
  #stars2:after,
  #stars3:after {
    content: '';
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
  }

  #stars {
    box-shadow: $shadows-small;
  }

  #stars2 {
    width: 2px;
    height: 2px;
    box-shadow: $shadows-medium;
    animation: animStar 100s linear infinite;
  }

  #stars3 {
    width: 3px;
    height: 3px;
    box-shadow: $shadows-big;
    animation: animStar 150s linear infinite;
  }

  @keyframes animStar {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-2000px);
    }
  }
  .file-download
  {
    position: absolute;
    top: 38.5vh;
    right: -12vw;
    height: 15vh;
    width: 12vw;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #053bff28;
    border-radius: 4px;
    border: 1px solid #ffffff;
    overflow-x: visible;

    h3 {
      font-size: 15px;
      color: #0072f5;
    }
  }

  .file-download.active {
    transform: translateX(-12vw);
  }
  
  .file-menu {
    position: absolute;
    top: 38.5vh;
    right: 0px;
    height: 15vh;
    max-width: 1vw;
    z-index: 2;
  }
  .file-menu.active{
    transform: translateX(-12vw);
  }

}

